@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: museo300;
  src: url(assets/fonts/Museo-300.otf); }

@font-face {
  font-family: museo700;
  src: url(assets/fonts/Museo-700.otf); }

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"), url("Helvetica.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Oblique';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Oblique"), url("Helvetica-Oblique.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Compressed';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Compressed"), url("helvetica-compressed-5871d14b6903a.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Rounded Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Rounded Bold"), url("helvetica-rounded-bold-5871d05ead8de.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"), url("Helvetica-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Bold Oblique';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Bold Oblique"), url("Helvetica-BoldOblique.woff") format("woff"); }

@font-face {
  font-family: 'Helvetica Light';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Light"), url("helvetica-light-587ebe5a59211.woff") format("woff"); }

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: museo300 !important;
  font-style: normal;
  background: linear-gradient(to right, #3AB54A, #38A495, #126839);
  overflow-x: hidden; }

a {
  color: #fff !important;
  text-decoration: none !important; }

p {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.5px; }

ol li {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.5px; }

.splitter {
  letter-spacing: 2px; }

.hr-splitter {
  width: 80%;
  height: 2px;
  background-color: #38a788; }

.text-whiter {
  color: #909090; }

strong {
  font-family: museo700; }

ul li {
  list-style: none; }

label {
  font-family: museo700; }

.h-30 {
  height: 30px; }

.h-40 {
  height: 40px; }

input.form-control.mr-sm-2.search-form {
  border-radius: 27px;
  width: 280px;
  height: 32px;
  border: none; }
  input.form-control.mr-sm-2.search-form:active, input.form-control.mr-sm-2.search-form:focues {
    border: none; }

.bg-grey {
  background-color: #e8e8e8 !important; }

.bg-card {
  background-color: #106939 !important; }

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none; }

.btn-green {
  background-color: #b5e22b !important; }

.museo700 {
  font-family: 'museo700' !important; }

.museo300 {
  font-family: 'museo300' !important; }

.btn {
  text-transform: uppercase;
  border-radius: 27px !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .btn:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.btn.btn-lg.btn-wakaf {
  padding: 5px 20px;
  border-radius: 27px;
  background-color: #b5e22b; }

button.btn.btn-md.btn-yellow.text-dark {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-family: museo700;
  padding: 5px 20px 5px 20px;
  background-color: #bdbd07; }

.form-control {
  box-shadow: none !important; }

.header {
  position: absolute;
  left: 157px;
  top: 61px;
  width: calc(100% - 314px);
  height: 96px;
  background: #190a49;
  z-index: 100;
  border-bottom: solid 2px #ff0e3b; }

.header_wrap {
  width: 100%;
  height: 100%;
  padding-top: 12px; }

.logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 108px; }
  .logo .logo a img {
    height: 30px; }

.main_nav ul li:not(:last-of-type) {
  margin-right: 20px; }

.onCanvas {
  width: 100%;
  min-height: 100%;
  position: relative;
  height: 100%;
  float: left;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

.overflow_hidden,
.overflow_hidden body,
.overflow_hidden .onCanvas {
  overflow: hidden !important;
  height: 100%; }

html.offCanvas_open body .onCanvas {
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px); }

html.offCanvas_open body .onCanvas.onCanvas_left {
  -webkit-transform: translateX(260px);
  -moz-transform: translateX(260px);
  -ms-transform: translateX(260px);
  -o-transform: translateX(260px);
  transform: translateX(260px); }

@media screen and (min-width: 365px) {
  html.offCanvas_open body .onCanvas {
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px); }
  html.offCanvas_open body .onCanvas.onCanvas_left {
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px); } }

/* Trigger / Button */
a.offCanvas_trigger {
  display: block;
  float: right;
  margin: 20px 17px 0 0;
  outline: none;
  width: 30px;
  height: 38px; }

.offCanvas_trigger.offCanvas_trigger_open .offCanvas_trigger_item {
  background: #fff; }

.offCanvas_trigger.offCanvas_trigger_open .offCanvas_trigger_item:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform-origin: 6px 50%;
  -ms-transform-origin: 6px 50%;
  -webkit-transform-origin: 6px 50%;
  transform-origin: 6px 50%; }

.offCanvas_trigger.offCanvas_trigger_open .offCanvas_trigger_item:nth-child(2) {
  opacity: 0; }

.offCanvas_trigger.offCanvas_trigger_open .offCanvas_trigger_item:nth-child(3) {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -moz-transform-origin: 1px 50%;
  -ms-transform-origin: 1px 50%;
  -webkit-transform-origin: 1px 50%;
  transform-origin: 1px 50%; }

.offCanvas_trigger_item {
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
  display: block;
  width: 30px;
  height: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 5px;
  background: #fff; }

@media screen and (max-width: 767px) {
  a.offCanvas_trigger {
    display: block; } }

/* offCanvas Menu */
.offCanvas {
  padding: 20px 5px 20px 35px;
  height: 100%;
  overflow-y: hidden;
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  width: 235px;
  background-color: #242e30;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
  -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
  transition: transform .4s 0s, visibility 0s .4s;
  -webkit-transform: translateX(80px);
  -moz-transform: translateX(80px);
  -ms-transform: translateX(80px);
  -o-transform: translateX(80px);
  transform: translateX(80px);
  -webkit-overflow-scrolling: touch; }

.offCanvas.offCanvas_left {
  left: 0;
  -webkit-transform: translateX(-80px);
  -moz-transform: translateX(-80px);
  -ms-transform: translateX(-80px);
  -o-transform: translateX(-80px);
  transform: translateX(-80px); }

@media screen and (min-width: 365px) {
  .offCanvas {
    width: 275px; } }

html.offCanvas_open .offCanvas.offCanvas_menu_open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
  transition: transform .4s 0s, visibility 0s 0s;
  overflow-y: scroll; }

ul.offCanvas_menu {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  display: block; }

ul.offCanvas_menu, ul.offCanvas_menu ul {
  -webkit-transform: translateZ(0);
  list-style: none;
  float: left;
  width: 100%;
  display: block;
  margin: 0 0 20px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

ul.offCanvas_menu ul {
  padding: 0 0 15px 20px;
  margin: 0;
  display: none; }

ul.offCanvas_menu li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  cursor: pointer;
  position: relative; }

ul.offCanvas_menu li a {
  display: block;
  float: left;
  width: 75%;
  padding: 7px 0;
  font-size: 16px;
  color: #ddd;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

ul.offCanvas_menu > li > a {
  text-transform: uppercase;
  font-size: 18px; }

ul.offCanvas_menu li a:hover {
  color: #fff; }

/* offCanvas Sub-Menu Indicator */
ul.offCanvas_menu li .offCanvas_menu_has_children_indicator {
  display: block;
  float: left;
  width: 25%;
  height: 20px;
  position: absolute;
  right: 0;
  top: 8px;
  text-align: center; }

ul.offCanvas_menu li > .offCanvas_menu_has_children_indicator svg {
  fill: #fff;
  width: 11px;
  height: 11px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform ease 0.2s;
  -moz-transition: -moz-transform ease 0.2s;
  -ms-transition: -ms-transform ease 0.2s;
  -o-transition: -o-transform ease 0.2s;
  transition: transform ease 0.2s; }

ul.offCanvas_menu li.offCanvas_menu_sub_open > .offCanvas_menu_has_children_indicator svg {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

/* Social Icons */
ul.offCanvas_menu_social,
ul.offCanvas_menu_social li {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0; }

ul.offCanvas_menu_social {
  width: 90%;
  float: left;
  margin-bottom: 80px; }

ul.offCanvas_menu_social li {
  display: inline-block;
  padding: 0 8px; }

ul.offCanvas_menu_social li a {
  color: #777;
  font-size: 28px; }

ul.offCanvas_menu_social li a:hover {
  color: #999; }

.main_nav ul li a {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase; }

.main_nav ul li a:hover,
.main_nav ul li.active a {
  color: #fff; }

.header_language {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 53px;
  padding-top: 12px;
  width: 10%; }

.language ul li {
  position: relative; }

.language ul li:not(:last-of-type) {
  margin-right: 22px; }

.language ul li a {
  display: block;
  position: relative;
  height: 100%;
  padding: 5px; }

.language ul li a i {
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }

.language ul li a:hover i {
  color: #ff0e3b; }

.lang {
  min-width: 5rem !important; }

.language-list {
  padding: 0 !important;
  z-index: 2100; }
  .language-list a {
    width: 100% !important;
    padding: 0 !important;
    z-index: 2100; }

.language-item {
  font-weight: 600; }

.lang-active {
  background-color: #b5e22b; }

.fixed-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 70px;
  z-index: 4000; }

.fixed-header .bg-gradient {
  background-image: linear-gradient(to right, #3AB54A, #38A495, #126839); }

.fixed-header.scrolled {
  top: 0; }

.static-header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  z-index: 1000000000; }

.static_header.scrolled {
  top: 0; }

.bg-gradient {
  background-image: linear-gradient(to right, #3AB54A, #38A495, #126839); }

.top-nav {
  position: fixed;
  top: 70px;
  text-transform: uppercase;
  height: 40px;
  z-index: 1000; }

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px; }

.dropdown-menu li:hover .sub-menu {
  visibility: visible; }

.dropdown:hover .dropdown-menu {
  display: block; }

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
  margin-top: 0; }

.dropdown-menu {
  z-index: 10000 !important; }
  .dropdown-menu li a {
    font-size: 14px; }
  .dropdown-menu li a:hover {
    color: #303030; }

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px; }

.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px; }

.page-active {
  border-bottom: 2px solid #126839; }

.bg-white {
  background-color: white; }

.nav-list {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: museo700; }

.header-carousel {
  height: 70vh;
  margin-top: 7.3vh;
  z-index: -1000; }
  .header-carousel div {
    height: 100%; }
    .header-carousel div img {
      max-height: 100%; }

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none; }
  .slick-dots li {
    position: relative;
    margin: 0 0.25rem; }
  .slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: blue;
    text-indent: -9999px; }
  .slick-dots li.slick-active button {
    background-color: red; }

.gallery-program {
  margin-bottom: 20px; }

a.gallery-program img {
  max-width: 100%; }

ol.carousel-indicators.custom-p {
  bottom: 0 !important; }

.carousel-header-img {
  height: 370px;
  width: auto; }
  .carousel-header-img img {
    max-height: 100%; }

form.example input[type=text] {
  padding: 5px;
  font-size: 17px;
  border: none;
  border-radius: 0 27px 27px 0;
  float: left;
  width: 80%;
  background: #fff; }

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 5px;
  background: #fff;
  color: grey;
  font-size: 17px;
  border: none;
  border-radius: 27px 0 0 27px;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer; }

form.example button:hover {
  background: #fff; }

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table; }

.text-green {
  color: #126839 !important; }

@font-face {
  font-family: 'codropsicons';
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
  font-weight: normal;
  font-style: normal; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #777;
  background: #f6f6f6; }

a {
  color: #555;
  text-decoration: none;
  outline: none; }

a:hover,
a:active {
  color: #777; }

a img {
  border: none; }

.nav-toggle {
  display: none; }

.rotate {
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in; }

.rotate.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.s-home {
  width: 100%;
  height: 100%;
  min-height: 786px;
  background-color: transparent;
  position: relative;
  display: table; }

.s-home .shadow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%); }

.s-home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
  background-color: #0f7943; }

.no-js .s-home {
  background: #000000; }

.home-content {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  padding-bottom: 24rem;
  position: relative;
  overflow: hidden; }

.heading-box {
  display: block;
  width: 35%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }
  .heading-box hr {
    border-bottom: 2px solid #bfc10d; }

.header-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.home-content p {
  display: block;
  font-family: museo300;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 30px;
  text-align: center; }

.home-content h1 {
  display: block;
  font-family: museo300;
  font-size: 3.3rem;
  line-height: 1.333;
  margin-top: 0;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase; }

.counter-wrapper {
  height: 18vh;
  width: 100%;
  background-image: linear-gradient(to right, #3AB54A, #38A495, #126839);
  display: flex;
  justify-content: center;
  align-items: center; }

.counter-item {
  display: flex;
  justify-content: center;
  align-items: center; }
  .counter-item .counter-details {
    position: relative; }
    .counter-item .counter-details h5 {
      display: block; }
    .counter-item .counter-details h1 {
      display: block;
      color: #c4e608;
      font-family: museo700; }

.counter-title {
  display: block; }
  .counter-title h5 {
    font-size: 18px; }

.counter-number {
  display: block;
  letter-spacing: 2px; }
  .counter-number h1 {
    text-align: center;
    color: #e5e808; }

.tree-title h3 {
  text-transform: uppercase; }

.program-tree {
  width: 100%;
  background-image: url("assets/images/Asset31.png");
  background-size: cover;
  background-repeat: no-repeat; }

.tree-wrapper {
  position: relative;
  height: auto;
  width: 100%; }
  .tree-wrapper svg#route {
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
  .tree-wrapper .program-category {
    background-color: transparent;
    height: 77rem;
    margin: 0 auto;
    max-width: 130rem;
    position: absolute;
    top: 10.8rem;
    width: 100%; }
    .tree-wrapper .program-category .category {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 50%;
      display: block;
      left: 50%;
      position: absolute;
      top: 50%; }
    .tree-wrapper .program-category .category-1 {
      height: 300px;
      width: 300px;
      margin: -755px 0 0 114px; }
      .tree-wrapper .program-category .category-1 a {
        height: 300px;
        width: 100%;
        background: transparent; }
        .tree-wrapper .program-category .category-1 a a:hover {
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
        .tree-wrapper .program-category .category-1 a img {
          max-width: 100%;
          transform: scale(1, 1); }
    .tree-wrapper .program-category .category-2 {
      height: 300px;
      width: 300px;
      margin: -703px 0 0 -33%; }
      .tree-wrapper .program-category .category-2 a {
        height: 300px;
        width: 100%;
        background: transparent; }
        .tree-wrapper .program-category .category-2 a img {
          max-width: 100%; }
    .tree-wrapper .program-category .category-3 {
      height: 3200px;
      width: 320px;
      margin: -360px 0 0 5%; }
      .tree-wrapper .program-category .category-3 a {
        height: 300px;
        width: 100%;
        background: transparent; }
        .tree-wrapper .program-category .category-3 a img {
          max-width: 100%; }
    .tree-wrapper .program-category .category-4 {
      height: 300px;
      width: 300px;
      margin: -379px 0 0 -41%; }
      .tree-wrapper .program-category .category-4 a {
        height: 300px;
        width: 100%;
        background: transparent; }
        .tree-wrapper .program-category .category-4 a img {
          max-width: 100%; }
    .tree-wrapper .program-category .category-5 {
      height: 300px;
      width: 300px;
      margin: -227px 0 0 26%; }
      .tree-wrapper .program-category .category-5 a {
        height: 300px;
        width: 100%;
        background: transparent; }
        .tree-wrapper .program-category .category-5 a img {
          max-width: 100%; }
    .tree-wrapper .program-category .category-6 {
      height: 300px;
      width: 300px;
      margin: -97px 0 0 -30%; }
      .tree-wrapper .program-category .category-6 a {
        height: 300px;
        width: 100%;
        background: transparent; }
        .tree-wrapper .program-category .category-6 a img {
          max-width: 100%; }
    .tree-wrapper .program-category .category-7 {
      height: 300px;
      width: 300px;
      margin: 81px 0 0 17%; }
      .tree-wrapper .program-category .category-7 a {
        height: 300px;
        width: 100%;
        background: transparent; }
        .tree-wrapper .program-category .category-7 a img {
          max-width: 100%; }
    .tree-wrapper .program-category .category-8 {
      height: 300px;
      width: 300px;
      margin: 243px 0 0 -39%; }
      .tree-wrapper .program-category .category-8 a {
        height: 300px;
        width: 100%;
        background: transparent; }
        .tree-wrapper .program-category .category-8 a img {
          max-width: 100%; }
    .tree-wrapper .program-category .category-9 {
      height: 300px;
      width: 300px;
      margin: 419px 0 0 9%; }
      .tree-wrapper .program-category .category-9 a {
        height: 300px;
        width: 100%;
        background: transparent; }
        .tree-wrapper .program-category .category-9 a img {
          max-width: 100%; }
    .tree-wrapper .program-category .category-10 {
      height: 300px;
      width: 300px;
      margin: 490px 0 0 -17%; }
      .tree-wrapper .program-category .category-10 a {
        height: 300px;
        width: 100%;
        background: transparent; }
        .tree-wrapper .program-category .category-10 a img {
          max-width: 100%; }

.img-place {
  position: relative;
  width: 200px; }
  .img-place img {
    position: relative;
    max-width: 100%; }

.feature-wrapper {
  position: relative;
  height: auto;
  width: 102%;
  background-image: url("assets/images/feature-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -5px 5%;
  padding-bottom: 50px; }

.feature-1 {
  padding-top: 100px;
  color: white; }
  .feature-1 h3 {
    color: white; }

.img-captions {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px; }

.bg-green {
  background-color: #3AB54A; }

.sub-brand {
  width: 35%;
  position: absolute;
  right: 0; }
  .sub-brand img {
    max-width: 100%; }

.feature-1-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px; }

.carousel-feature {
  width: 350px; }
  .carousel-feature img {
    max-width: 100%; }
  .carousel-feature h6 {
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; }

.carousel-feature .thumb {
  overflow: hidden; }

.carousel-feature .thumb img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.carousel-feature:hover .thumb img {
  transform: scale(1.1); }

.carousel-indicators {
  bottom: unset !important; }
  .carousel-indicators li {
    width: 16px !important;
    height: 16px !important;
    border-radius: 100%; }

.news-section {
  position: relative;
  margin-top: 50px;
  background-image: linear-gradient(to right, #3AB54A, #38A495, #126839);
  min-height: 61.5vh;
  max-height: 70vh; }

.news-wrapper {
  display: flex;
  background-size: cover;
  height: auto;
  width: 100%;
  align-items: center;
  margin-top: 10%; }

.news-thumb {
  position: absolute;
  width: 100%;
  height: 370px;
  top: -70px;
  overflow-y: hidden; }
  .news-thumb #firstNews {
    margin: 0 0 20px 20px; }

.nav-tabs {
  border: none !important; }

.tab-pane h1 {
  min-height: 140px;
  max-height: 140px; }

.tab-pane p {
  min-height: 120px;
  max-height: 120px; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: transparent !important;
  border: none !important; }

ul#nav-tab {
  position: absolute;
  bottom: 0; }

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 0.7; }

.hamburger.is-active:hover {
  opacity: 0.7; }

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease; }

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease; }

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

.news-sub-thumb {
  position: absolute;
  width: 40%;
  top: 272px;
  margin-left: 20px; }
  .news-sub-thumb a img {
    max-width: 100%; }

.sub-news {
  height: 100px;
  width: 180px;
  position: relative;
  overflow: hidden; }
  .sub-news a {
    position: absolute; }
    .sub-news a img {
      width: 220px;
      height: auto; }

a.nav-item:hover {
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: 2px solid #fff; }

.news-thumb .thumb {
  overflow: hidden; }

.text-brown {
  color: #AD4F23; }

.berita {
  position: absolute;
  top: -15%;
  margin-left: 22px; }

.news-title {
  max-width: 80%;
  margin-left: 22px; }
  .news-title h1 {
    font-family: museo700; }
  .news-title a h6 {
    color: #e5e808;
    padding-bottom: 20px; }

button.btn.btn-sm.bg-green {
  position: absolute;
  right: 0;
  background-color: #9bca0b;
  border-radius: 27px;
  padding: 5px 20px 5px 20px; }

.social-news {
  display: flex;
  justify-content: center;
  margin-left: 10px; }
  .social-news .social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%; }
    .social-news .social-item a {
      margin: auto;
      font-size: 24px; }

.maps-section {
  width: 100%;
  background-image: url("assets/images/img/bg-grey-sm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px; }

.maps-wrapper {
  padding-top: 50px;
  height: 100%; }
  .maps-wrapper #mapid {
    height: 60%;
    width: 100%; }

.mapouter {
  position: relative;
  text-align: right;
  height: 65vh;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.marker {
  background-image: url("assets/icons/location-pin.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer; }

.s-branch-map {
  background-color: #14882d; }

.branc-u-map {
  height: 2px;
  width: 40%;
  background-color: #bfc10d; }

.s-contact {
  width: auto;
  background-image: url("assets/images/img/bg-brown-sm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  margin-top: 30px; }

.contact-icon {
  width: 40px;
  height: 40px; }
  .contact-icon img {
    max-width: 100%; }

.submit {
  position: absolute;
  right: 34px; }

.brand-section {
  height: 35%;
  position: relative;
  background-color: #ececec; }

.brand-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.brand-card {
  display: block;
  height: 100px;
  width: 160px;
  margin: auto;
  background-color: white;
  border-radius: 0 22px 0 22px;
  padding: 20px; }
  .brand-card img {
    max-width: 100%; }

.s-program {
  background-image: url("assets/images/img/bg-white.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 8%; }
  .s-program h2 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    text-transform: uppercase;
    padding-bottom: 30px;
    border-bottom: 2px solid #bfc10d; }
  .s-program .card-wrapper-program {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-top: 15%; }

.program-img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 330px;
  width: 330px;
  transform: translate(-50%, -50%); }
  .program-img img {
    max-width: 100%; }

.program-sub-category {
  margin-top: 10px; }
  .program-sub-category h4 {
    text-transform: uppercase; }

.btn-program {
  margin: auto;
  text-align: center;
  font-family: museo700;
  padding: 5px 20px 5px 20px;
  background-color: #bdbd07; }

.slider-img {
  width: 200px;
  height: 150px;
  overflow: hidden;
  margin: auto; }
  .slider-img img {
    width: 200px;
    height: auto; }

.video-container {
  display: block;
  position: relative;
  width: 100%;
  height: 400px;
  overflow-y: hidden;
  padding-bottom: 10px; }
  .video-container img {
    width: 100%; }
  .video-container .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px; }

.s-contact {
  background-image: url("assets/images/img/bg-brown-sm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 8%; }
  .s-contact h2 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    text-transform: uppercase;
    padding-bottom: 30px;
    border-bottom: 2px solid #bfc10d; }

.s-contact .card-wrapper-program {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: 15%; }

.s-profile {
  background-image: url("assets/images/img/bg-brown-sm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 8%;
  background-attachment: fixed; }
  .s-profile h2 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    text-transform: uppercase;
    padding-bottom: 30px;
    border-bottom: 2px solid #bfc10d; }
  .s-profile .card-wrapper-program {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-top: 15%; }

#card-faq {
  overflow-y: hidden; }

.faq-container {
  max-height: 70vh;
  overflow-y: scroll; }
  .faq-container .faq-wrapper {
    min-height: 100%; }

.faq-arrow {
  float: right; }

.wrapper {
  width: 70%;
  overflow-y: scroll; }

@media (max-width: 992px) {
  .wrapper {
    width: 100%; } }

.panel-heading {
  padding: 0;
  border: 0; }

.panel-title > a, .panel-title > a:active {
  display: block;
  padding: 15px;
  color: #555;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none; }

.panel-heading a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  transition: all 0.5s; }

.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg); }

.facts-box {
  width: 95%; }
  .facts-box .facts-wrapper h6 {
    letter-spacing: 2px;
    text-transform: uppercase; }
  .facts-box .facts-wrapper p {
    font-size: 14px; }

.p-splitter {
  display: flex; }
  .p-splitter h6 {
    letter-spacing: 4px; }
  .p-splitter .p-splitter-hr {
    height: 2px;
    width: 100px;
    background-color: #38a788; }

.img-splitter {
  width: 100%;
  height: auto;
  overflow: hidden; }
  .img-splitter img {
    width: 100%;
    height: auto; }

.s-majalah {
  background-image: url("assets/images/feature-bg.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .s-majalah h2 {
    text-transform: uppercase;
    padding-top: 100px; }

.cover-container {
  padding-bottom: 100px; }
  .cover-container .cover-img {
    height: 400px;
    width: 300px;
    margin-bottom: 30px;
    overflow: hidden; }

.s-branch {
  background-color: #14882d; }

.branc-u {
  height: 2px;
  width: 40%;
  background-color: #bfc10d; }

.s-blog {
  background-image: url("assets/images/img/bg-white-full.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 8%; }
  .s-blog h2 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    text-transform: uppercase;
    padding-bottom: 30px;
    border-bottom: 2px solid #bfc10d; }

.blog-wrapper {
  margin-top: 100px;
  padding-bottom: 100px; }
  .blog-wrapper .blog-img-container {
    height: auto;
    width: 90%;
    overflow: hidden;
    min-height: 430px; }
    .blog-wrapper .blog-img-container img {
      height: auto;
      width: 100%; }

.blog-post {
  padding-top: 50px; }

.blog-btn {
  display: flex;
  justify-content: center; }

.blog-preview {
  width: 90%; }

.sidebar-wrapper {
  margin-top: 150px; }
  .sidebar-wrapper .profile-box {
    background-color: #147139;
    /* padding: 20px; */
    height: 300px;
    width: 300px;
    border-radius: 8px; }
    .sidebar-wrapper .profile-box p {
      font-size: 12px; }
  .sidebar-wrapper .profile-logo {
    width: 150px; }

.social-sidebar {
  margin: 10px 0 0 0; }
  .social-sidebar .social-list {
    display: flex;
    justify-content: center;
    margin-right: 10px; }
    .social-sidebar .social-list .social-item {
      position: relative;
      height: 40px;
      width: 40px;
      border-radius: 50%; }
      .social-sidebar .social-list .social-item a {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 24px;
        text-align: center;
        transform: translate(-50%, -50%); }

.sidebar-category h4 {
  text-transform: uppercase; }

.sidebar-category .sidebar-category-list .sidebar-cat-item {
  margin-bottom: 10px; }
  .sidebar-category .sidebar-category-list .sidebar-cat-item .sidebar-splitter {
    height: 2px;
    width: 100%;
    background-color: #147139; }

.sidebar-archive .sidebar-splitter {
  height: 2px;
  width: 100%;
  background-color: #147139; }

.sidebar-archive h4 {
  text-transform: uppercase; }

.sidebar-archive .sidebar-archive-list .sidebar-arc-item {
  margin-bottom: 10px; }

.s-sobat {
  background-image: url("assets/images/feature-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -5px 0%;
  width: 102%;
  margin-top: 8%; }
  .s-sobat h2 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    text-transform: uppercase;
    padding-bottom: 30px;
    border-bottom: 2px solid #bfc10d; }
  .s-sobat .card-wrapper-sobat {
    margin-top: 15%; }

.partner-box {
  width: 100%;
  border-radius: 8px; }
  .partner-box .partner-logo {
    display: flex;
    align-items: center;
    height: 250px;
    width: 250px;
    padding: 20px; }
    .partner-box .partner-logo img {
      max-width: 100%; }

.sobat-slider {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff8a; }

.sobat-btn {
  display: flex;
  justify-content: center; }

.sobat-logo {
  display: flex;
  justify-content: center;
  align-items: center; }
  .sobat-logo img {
    max-width: 100%; }

.s-single {
  background-image: url("assets/images/img/bg-grey-sm.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 8%;
  max-width: 100%; }
  .s-single h2 {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    text-transform: uppercase;
    padding-bottom: 30px;
    border-bottom: 2px solid #bfc10d; }
  .s-single .card-wrapper-single {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-top: 15%; }

.single-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px; }
  .single-logo-container img {
    max-width: 100%; }

.single-desc {
  width: 90%; }

.single-img-container {
  width: 100%;
  height: 200px;
  overflow: hidden; }
  .single-img-container img {
    height: 200px;
    width: auto; }

.single-video-container {
  position: relative;
  width: 100%; }
  .single-video-container .single-video-container {
    display: block;
    position: relative;
    width: 100%;
    height: 400px;
    overflow-y: hidden;
    padding-bottom: 10px; }
    .single-video-container .single-video-container img {
      width: 100%; }
    .single-video-container .single-video-container .single-play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100px;
      width: 100px; }

.subscribe-section {
  display: flex;
  height: 15%;
  background-color: #222222; }

.subscribe-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.subscribe-container {
  display: flex;
  position: relative;
  align-items: center; }

.social-footer {
  display: flex; }
  .social-footer .social-bottom {
    display: flex;
    align-items: center; }

.social-item {
  width: 40px;
  height: 40px;
  margin-right: 10px; }
  .social-item a img {
    max-width: 100%; }

.social-item-bottom {
  position: relative;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%; }
  .social-item-bottom a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px; }

.bottom-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #484848;
  position: absolute;
  right: -15%; }
  .bottom-next i {
    font-size: 20px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.bottom-prev {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #484848;
  position: absolute;
  left: -15%; }
  .bottom-prev i {
    font-size: 20px;
    font-weight: 900;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

footer {
  background-color: #097338;
  border-bottom: 20px solid yellow; }

.footer-program {
  width: 100%; }
  .footer-program .program-list li h6 {
    color: #a5bf15; }

.program-list {
  padding: 0; }

.nav-footer ul li {
  margin-bottom: 10px; }

.footer-logo {
  width: 40%;
  height: auto;
  position: absolute;
  top: 0;
  left: 150px; }
  .footer-logo img {
    padding-bottom: 20px; }

.sign-up {
  background-image: url("assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat; }

.container-pers {
  display: flex;
  justify-content: center;
  align-items: center; }
  .container-pers h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.mobile-container
#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 260px;
  left: -260px;
  height: 100%;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: 0.30s ease;
  -moz-transition: 0.30s ease;
  -o-transition: 0.30s ease;
  transition: 0.30s ease; }

#menu.active {
  -webkit-transform: translate(260px, 0px);
  -moz-transform: translate(260px, 0px);
  -o-transform: translate(260px, 0px);
  -ms-transform: translate(260px, 0px);
  transform: translate(260px, 0px); }

.container.wakaf-form {
  padding: 0 200px; }

.form-review {
  display: none; }

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media (min-width: 320px) and (max-width: 480px) {
  .fixed-header {
    position: fixed; }
  .main_nav {
    display: none; }
  .nav-toggle {
    display: flex;
    position: relative; }
    .nav-toggle button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
      .nav-toggle button span {
        font-size: 30px;
        opacity: 0.87; }
  .header_language {
    display: none; }
  .logo {
    left: 0;
    padding-left: 1rem; }
  .header-carousel {
    margin-top: 0; }
  .top-nav {
    display: none; }
  .counter-wrapper {
    height: auto;
    padding: 20px 0; }
  .counter-item {
    margin: 10px 0; }
  .svg-container {
    width: 80vw; }
  .tree-wrapper {
    overflow-x: hidden; }
    .tree-wrapper .program-category {
      height: 120vh;
      padding-bottom: 20px; }
      .tree-wrapper .program-category .category-1, .tree-wrapper .program-category .category-2, .tree-wrapper .program-category .category-3, .tree-wrapper .program-category .category-4, .tree-wrapper .program-category .category-5, .tree-wrapper .program-category .category-6, .tree-wrapper .program-category .category-7, .tree-wrapper .program-category .category-8, .tree-wrapper .program-category .category-9, .tree-wrapper .program-category .category-10 {
        height: 120px;
        width: 120px; }
  .nav-list {
    top: 0;
    transform: none; }
  .nav-logo-mobile {
    width: 50%; }
    .nav-logo-mobile img {
      max-width: 100%; }
  a.btn.btn-md.btn-wakaf.text-green.museo700.h6 {
    background-color: #B5E22B; }
  .carousel-feature {
    width: 100%; }
  .feature-wrapper {
    background-image: url("assets/images/mobile-feature-bg.png");
    width: 100%; }
  .feature-1 {
    padding-top: 1.5rem;
    flex-direction: column-reverse !important; }
  .feature-1-wrapper {
    padding-left: 1rem;
    padding-right: 1rem; }
  .sub-brand {
    position: relative !important;
    float: right;
    margin-bottom: 1rem; }
  .sub-news {
    width: 120px; }
  .bottom-next {
    right: 10%;
    bottom: 60%; }
  .bottom-prev {
    left: 10%;
    bottom: 60%; }
  .tab-pane h1 {
    max-height: 500px; }
  .brand-section {
    height: auto;
    padding-bottom: 1rem; }
    .brand-section .brand-wrapper {
      top: 0;
      transform: translateY(0); }
  .brand-card {
    width: 150px;
    min-height: 50px; }
    .brand-card img {
      max-width: 100%; }
  .s-program h2 {
    margin-top: 5rem !important; }
  .program-img {
    position: relative;
    height: auto;
    width: 60vw; }
  .section-title {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;
    position: relative !important;
    top: initial;
    left: initial;
    transform: none; }
  .search-form {
    max-width: 70%; }
  .social-footer .social-bottom {
    padding-left: 0; }
  .subscribe-section {
    height: auto;
    padding: 20px 0; }
  .subscribe-container {
    display: block; }
    .subscribe-container h6 {
      margin: 10px 0; }
    .subscribe-container form {
      margin: 10px 0; }
    .subscribe-container button {
      position: relative !important;
      margin-bottom: 20px; }
  .social-item-bottom {
    height: 30px;
    width: 30px; }
    .social-item-bottom a {
      font-size: 18px; }
  .nav-footer ul {
    padding-left: 0; }
  .news-thumb {
    position: relative !important; }
  ul#nav-tab {
    position: relative !important;
    margin: 0 !important; }
  .berita {
    position: relative !important;
    top: initial;
    margin-top: 10px; }
  .news-section {
    max-height: 100%; }
  .tab-content {
    padding: 0 !important; }
  button.btn.btn-sm.bg-green {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px; }
  footer {
    height: 125vh; }
  .footer-logo {
    left: 0;
    margin-left: 1rem; }
  .feature-profile img {
    max-width: 100%; }
  #sobat-gallery {
    padding: 0 !important; }
  .container-pers h1 {
    position: relative;
    top: initial;
    left: initial;
    transform: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.5rem; }
  .partner-box {
    margin-bottom: 1rem; }
  .wakaf-form {
    padding: 0 !important; } }
