// =====================================
// ============== RESPONSIVE ===========
//======================================

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media (min-width: 320px) and 
(max-width: 480px) {

    .logo{
        width:32vw;
    }

    .fixed-header {
        position: fixed;
    }

    .main_nav {
        display: none;
    }

    .nav-toggle {
        display: flex;
        position: relative;

        button {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            span {
                font-size: 30px;
            }
        }
    }

    .header-carousel {
        display: none !important;
    }

    .header-carousel-mobile {
        display: block !important;
    }

    .header_language {
        display: none;
    }

    .logo {
        left: 0;
        padding-left: 1rem;
    }

    .header-carousel {
        margin-top: 0;
    }

    .top-nav {
        display: none;
    }

    .counter-wrapper {
        height: auto;
        padding: 20px 0;
    }

    .counter-item {
        margin: 10px 0;
    }

    .svg-container {
        width: 80vw;
    }

    .tree-wrapper {
        display: none;
        overflow-x: hidden;
    }

    .tree-wrapper-mobile {
        position: relative;
        width: auto;
        height: 1000px;

        svg {
            position: relative;
        }

        .program-category-mobile {
            position: absolute;
            top:6rem;

            .category {
                position: relative;
                margin-bottom: 2rem;
            }

            .category-1,
            .category-2,
            .category-3,
            .category-4,
            .category-5,
            .category-6,
            .category-7,
            .category-8,
            .category-9,
            .category-10 {
                width: 9rem;

                a {

                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            .category-2,
            .category-4,
            .category-6,
            .category-8,
            .category-10 {
            	margin-left:3.2rem;
            }
        }
    }

    .nav-list {
        top: 0;
        transform: none;
    }

    .nav-logo-mobile {
        width: 50%;

        img {
            max-width: 100%;
        }
    }

    a.btn.btn-md.btn-wakaf.text-green.museo700.h6 {
        background-color: #B5E22B;
    }

    .carousel-feature {
        width: 100%;
    }

    #carouselProgram {

    	.carousel-inner {
    		.carousel-item {
    			.row {
    				.col-sm-4.px-2 {
    					margin-bottom: 2.5rem;
    				}
    			}
    		}
    	}
    }

    .video-container {

    	iframe {
    		top:4rem !important;
    	}
    }

    .feature-wrapper {
        background-image: url('assets/images/mobile-feature-bg.png');
        width: 100%;
    }

    .feature-1 {
        padding-top: 1.5rem;
        flex-direction: column-reverse !important;
    }

    .feature-1-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .sub-brand {
        position: relative !important;
        float: right;
        margin-bottom: 1rem;
    }

    .sub-news {
        width: 32%;
    }

    // bootstrap overrides

    .bottom-next {
        right: 10%;
        bottom: 60%;
    }

    .bottom-prev {
        left: 10%;
        bottom: 60%;
    }

    .tab-pane {
        h1 {
            max-height: 500px;
        }
    }

    .brand-section {
        height: auto;
        padding-bottom: 1rem;

        .brand-wrapper {
            top: 0;
            transform: translateY(0);
        }
    }

    .brand-card {
    	position:relative;
        width: 80% !important;

        img {
        	position: absolute;
        	top:50%;
        	left:50%;
        	transform: translate(-50%,-50%);
            max-width: 100%;
            height: auto;
            padding:2rem;
        }
    }

    .s-program h2 {
        margin-top: 5rem !important;
    }

    .program-img {
        position: relative;
        height: auto;
    }

    .section-title {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin-bottom: 0 !important;
        position: relative !important;
        top: initial;
        left: initial;
        transform: none;
    }

    .search-form {
        max-width: 70%;
    }

    .social-footer .social-bottom {
        padding-left: 0;
    }

    .subscribe-section {
        height: auto;
        padding: 20px 0;
    }

    .subscribe-container {
        display: block;

        h6 {
            margin: 10px 0;
        }

        form {
            margin: 10px 0;
        }

        button {
            position: relative !important;
            margin-bottom: 20px;
        }
    }

    .social-item-bottom {
        height: 30px;
        width: 30px;

        a {
            font-size: 18px;
        }
    }

    .nav-footer {
        ul {
            padding-left: 0;
        }
    }

    .news-thumb {
        position: relative !important;
    }

    ul#nav-tab {
        position: relative !important;
        margin: 0 !important;
    }

    .berita {
        position: relative !important;
        top: initial;
        margin-top: 10px;
    }

    .news-section {
        max-height: 100%;
    }

    .tab-content {
        padding: 0 !important;
    }

    button.btn.btn-sm.bg-green {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    footer {
        height: 125vh;
    }

    .footer-logo {
        left: 0;
        margin-left: 1rem;
    }

    .mobile-carousel {
    	display: block;
    	height:20vh;
    }

    .desktop-carousel {
    	display: none;
    }

    .feature-profile {
        img {
            max-width: 100%;
        }
    }

    #sobat-gallery {
        padding: 0 !important;
    }

    .container-pers {
        h1 {
            position: relative;
            top: initial;
            left: initial;
            transform: none;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-top: 1.5rem;
        }
    }

    .partner-box {
        margin-bottom: 1rem;
    }

    .wakaf-form {
        padding: 0 !important;
    }

    .sidebar-wrapper {
        display: none;
    }

    .blog-img-container {
        margin: auto;
        width: 100% !important;
        min-height: 0 !important;
    }
}

// Small Devices

@media (min-device-width: 320px) and 
(max-device-width: 568px) {
	.brand-card {
		width:125px;
		height:70px;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
  
  .top-nav {
    display: none !important;
  }

  .logo {
    width:16vw !important;
  }

  .header-carousel {
        display: none !important;
    }

    .header-carousel-mobile {
        display: block !important;
    }

   .tree-wrapper {
    display: none !important;
   }

   .tree-wrapper-mobile {
    display: block !important;
   } 

    .main_nav {
        display: none !important;
    }

    .nav-toggle {
        display: inline !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
  
    .top-nav {
        display: none !important;
    }

    .logo {
        width:14vw;
    }

    .header-carousel {
        display: none !important;
    }

    .header-carousel-mobile {
        display: block !important;
    }

    .main_nav {
        display: none !important;
    }

    .nav-toggle {
        display: inline !important;
    }

    .tree-wrapper {
    display: block !important;
   }

   .tree-wrapper-mobile {
    display: none !important;
   } 
}

@media (min-width:1024) {
    .top-nav {
        display: none !important;
    }


}